{% extends 'root/base.html' %}
{% load static %}

{% block title %} Majjaka eProcure - Bulletin Configuration (Admin Tool) {% endblock %}
{% block maincontent %}

<div class="container-fluid">
    <div class="hg_wrapper">

        <div class="elements-space-between">
            <span class="hg_head1">Bulletin Configuration</span>
            <div>
                <button class="btn btn-primary" onclick="window.open(href = '{% url 'eProc_Org_Support:org_announcement_save' %}')">
                    <i class="fas fa-user-plus"></i> 
                    add new announcement
                </button>
            </div>
        </div>

        <hr class="hg_heading_hrborder">
        <div>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md">
                        <label for="">Title/Description</label>
                        <input type="text" class="form-control" id="announcement_subject" name="announcement_subject" >
                    </div>
                    <div class="col-md">
                        <label for="">Status</label>
                        <input type="text" class="form-control" id="announcement_status" name="announcement_status">
                    </div>
                    <div class="col-md">
                        <label for="">Priority</label>
                        <input type="text" class="form-control" id="announcement_priority" name='announcement_priority'>
                    </div>
                    <div class="col-auto my-1">
                        <button class="button-search-users btn btn-primary" type="submit"
                                title="Please click to get the search details!" onclick=""><i class="fas fa-search"></i> search
                        </button>
                    </div>
                </div>
              <div class="row">
                    <div class="col">
                        <input type="reset" value="Clear filters" class="ip-form-clear-filters">
                    </div>
                </div>
            </form>
        </div>

        {% if announcement_result1.count > 0  %}
        <div class="search_result_count_card card">
            <div class="card-body">
                <h6 class="card-title">Total number of results found
                    :{{announcement_result1.count}}</h6>
            </div>
        </div>
        {% elif announcement_result1.count == 0  %}
        <div class="search_result_count_card card">
            <div class="card-body">
                <h6 class="card-title">No Results Found</h6>
            </div>
        </div>
        {% endif %}
    </div>

    {% if announcement_result1  %}

    <div class="hg_wrapper">
        <table id="sup_tab" class="table hg-striped-table table_sort_filter_export_excel">
            <thead class="thead-light">
            <tr>
                 <th hidden> GUID  </th>
                <th> Bulletin Number  </th>
                <th> Title  </th>
                <th> DESCRIPTION </th>
                <th> STATUS </th>
                <th> PRIORITY </th>
                <th> FROM DATE</th>
                <th> TO DATE</th>
            </tr>
            </thead>
            <tbody>

            {% for results in announcement_result1 %}

            <tr id="tr_{{results.announcement_subject}}">
                <td hidden>{{results.unique_announcement_id}}</td>
                <td><a style="color: #049ca2;" href="{% url 'eProc_Admin_Tool:org_announcement_details' results.unique_announcement_id %}" id="{{results.announcement_subject}}" class="deletepop" target="_blank">{{results.announcement_id}}</a> </td>
                <td>{{results.announcement_subject}} </td>
                <td>{{results.announcement_description}}</td>
                <td>{{results.status}}</td>
                <td>{{results.priority}}</td>
                <td>{{results.announcement_from_date|date:'Y-m-d H:i'}}</td>
                <td>{{results.announcement_to_date|date:'Y-m-d H:i'}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}
</div>


<script>

$(document).ready( function() {
    nav_bar_admin();
    table_sort_filter_export_excel();
    console.log(document.getElementById("announcement_subject").value);
    document.getElementById("announcement_subject").value = "";

});



</script>

{% endblock %}