/*User Admin app*/
.ver_table{
    margin: 18px 10px 10px 10px;
    margin-bottom: 5px;
    height: 250px;
    overflow-y: auto;
}

.ver_table table{
    border: 1px solid black;
    font-size: 8pt;
}
.ver_search_div table{
    width: 100%;
}
.ver_table table tr:nth_child(even){
    background-color: #f2f2f2;
}
.ver_table table tr:last_child td{
    border-bottom: none;
}
.ver_table table th, .ver_table table td{
    padding: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.ver_table table th:last_child, .det_tbl_div table td:last_child{
    border-right: none;
}
.ver_table table th{
    background-color: #FABD4C;
    color: #fff;
    white-space: nowrap;
    text-align: left;
}
