{% extends 'root/base.html' %}

{% block title %} Password reset done {% endblock %}

{% block maincontent %}



<body>
	<div class="container-flex">
		<div class="row no-gutters majjaka-login-form">
			<div class="col-lg-8 login-page-image">
				<img src="/static/images/ctnt_bg.png">
			</div>
			<div class="col-lg-4 majjaka-login-form__body">
				<div class="login_page_logo">
					<img src="/static/images/majjaka_logo_black_text.png" class="img-fluid" alt="">
				</div>
				<div class="login-page-form">
					<div class="h4 login-page-form-heading">Password Reset</div>
					<div>
						<p>
							We've emailed you instructions for setting your password, if an account exists with the email you entered.
							You should receive them shortly.
						</p>
						<p>
							If you don't receive an email, please make sure you've entered the address you registered with,
							and check your spam folder.
						</p>
					</div>
				</div>
				<div class="text-center">
					<a href="#">Terms of use.</a>
					<a href="#">Privacy policy</a>
				</div>
			</div>
		</div>
	</div>
</body>


{% endblock %}