.majjaka-login-form{
    &.row {
        background: white;
    }

    .login-page-image img {
        width: 100%; 
        height: 100vh;
    }

    .majjaka-login-form__body{
        padding: 0 5rem !important;

        .login_page_logo {
            text-align: center; 
            margin-top: 10%;
        }

        .login-page-form {
            margin: 15% 0;

            .login-page-form-heading{
                margin-bottom: 9%;
               
            }

            .login-messages{
                margin-bottom: 3%;
            }

            .form-group{
                input {
                    border-radius: 2rem;
                }
    
                .btn {
                    width: 100%;
                     margin-bottom: 10%;
                }
                
            } 
            
        }
    }
    
}